body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  background-color: cadetblue;
  color: beige;
  padding: 3vmin;
  font-size: 10vmin;
  font-family: 'Lobster two';
}

main {
  height: 100%%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vmin;
  background-color: beige; 
}

section {
  display: grid;
  grid-template-columns: 25vmin 25vmin 25vmin;
  grid-template-rows: 25vmin 25vmin 25vmin 25vmin;
  justify-content: center;
  font-family: 'lobster two';
  font-size: 14vmin;
  text-align: center;
  line-height: center;
  color: rgb(0, 0, 0);
  user-select: none;
}

div {
  width: 8rem;
  height: 8rem;
  background-color: rgb(209, 200, 27);
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 25px;
}

#reset-btn {
  margin-top: 70vmin;
  padding: 1vmin;
}

